{{extend 'layout.html'}}
 <div style="overflow: auto;" width="80%">
       {{linkto=URL(c='default',f='data',args='update')}}
       {{upload=URL(c='download',f='data',args='update')}}    
       {{=SQLTABLE(rows,linkto,upload,orderby=True,_class='sortable')}}
</div>
<br/>
<button onclick="$('#addprofile').slideToggle()">Add profile</button> 
<div id="addprofile" class="h">
{{=crud.create(db.settings,onaccept=lambda form: redirect(URL(r=request,c='default',f='editsettings')))}}</div> 
<script>$(document).ready(function(){$('.h').hide()});</script> 
